<h1>Hello World</h1>

<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#demo">
    Toggle
</button>
<div class="collapse mt-3" id="demo">
    <div class="card card-body">
        This content will collapse and expand.
    </div>
</div>
